*{
    margin: 0;
    padding:0;
    background-image: url("lgpra.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@media only screen and (max-device-width:1366px){
    *{
        background-attachment: scrool;
    }
}
.lp h1{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    color: #7cfc00;
}
.gf img{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.fg p{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #55d235;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
  
li a {
    display: block;
    color: #a4d235;
    padding: 8px 16px;
    text-decoration: underline;
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: #deb887;
    color: #fff;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }